.title {
    border-color: black;
    background-color: aqua;
}

aside {
    float: right;
    margin: 0;
    width: 30%;
    background-color: green;
}

article {
    float: 0;
    border-color: black;
    /* background-color: darkgreen; */
}

h2 {
    text-align: center;
}

.month {
    background-color: darkgreen;
}