.title {
    border-color: black;
    background-color: aqua;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
    background-color: green;
}

article {
    float: left;
    border-color: black;
    /* background-color: darkgreen; */
}